doctype html
html
  head
    style
      include style.css
    title= "MCSLaunhcer"
    link(rel="icon",  type="image/png", href="/public/logo.png")
  body
  script(src="/public/jquery-3.6.0.min.js")
    